.box {
	background-color: white;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	border-radius: 10px;
	width: 80%;
	max-width: 600px;
	text-align: center;
	box-shadow: 
		0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 
		0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.box .info {
	align-items: center;
	text-align: center;
}

.box .title {
	font-size: 24px;
	margin: 20px;
	text-align: center;
	color: #2c2c2c;
}

.box img {
	width: 100%;
	max-width: 250px;
	margin-bottom: 15px;
	box-shadow: 
		0 30px 30px -10px rgba(50, 50, 93, 0.25),
		0 18px 30px -10px rgba(0, 0, 0, 0.3), 
		0 -12px 30px -10px rgba(0, 0, 0, 0.025);
}

.box .subbox {
	margin: 20px;
}

.subbox hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.box .genres {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.genres li {
	background-color: #bdbdbd;
	border-radius: 20px;
	margin-right: 10px;
	padding: 5px;
	font-size: 12px;
	margin-bottom: 10px;
	color: #ffffff;
}

.subbox p {
	color:#000000;
	text-align: justify;
}