body {
	background: #e6e6e6;
} 

.container {
	margin-top: 100px;
	margin-bottom: 100px;
	height: 100%;
	display: flex;
	justify-content: center;
}

.loader {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader p {
	font-size: 20px;
}

.movies {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
